package epam_lesson1;

import java.math.BigInteger;
import java.util.Scanner;

public class Fibonachi {
	private  static int size ;
	private  static int number;
	private static int countEvenNumber;
	private static BigInteger someNumber;


	
	
	public static void  fibonachi(int iter, BigInteger fnPrevious, BigInteger fnBeforePrevious){
		
		BigInteger fn = fnPrevious.add(fnBeforePrevious); ;
		if (iter==1){
			 fn = BigInteger.ONE;
		 }
		if (iter==number){
			 someNumber = fn;
		 }
		fnBeforePrevious = fnPrevious; 
		fnPrevious= fn;
		
		if (fn.mod(BigInteger.valueOf(2)).equals(BigInteger.ZERO)){
			countEvenNumber++;
		}
		System.out.println(iter+"    "+   fn);
		iter++;
		 if(iter<size){
			 fibonachi(iter,fnPrevious,fnBeforePrevious); 
		 } 
	
	}
	

	

	public static void main(String[] args) {
		System.out.println("Enter the number of Fibonacci numbers:");
		Scanner scan = new Scanner(System.in);
		int s = scan.nextInt();
		size= s;
		System.out.println("Enter the selected number ");
		s = scan.nextInt();
		number = s;
		
		BigInteger zero = BigInteger.ZERO; 
		fibonachi(0,zero,zero);
		int pro = (int) (countEvenNumber*100/size);
		System.out.println("Even Numbers -  " + pro+"%");
		System.out.println("Odd Numbers -  " + (100-pro)+"%");
		System.out.println(number + " is "+ someNumber);
	

	}
}




